/* styles.css */

/* Add styles here to customize the appearance of your app */

/*overflow - это для полос прокрутки*/

html{
    box-sizing: border-box;
/*margin: 0px;
padding: 0px;*/
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html, body, header.header-block{
/*height: 100%;*/
/*width: 100%;*/
    max-width: 1920px;
    max-height: 1080px;
    background-color: #C3C3C3;
    overflow: hidden;
}

body{
    margin: 0px;
    padding: 0px;
}

.main-frame-container{
    display: flex;
    /*margin: 15px;*/
}

div.info-parsing-files{
    height: 100vh;
    width: 55vw;
    display: flex;
    flex-direction: column;
    padding-right: 2vw;
    padding-left: 2vw;
}

div.files-list{
    height: 100vh;
    width: 45%;
    min-width: 250px;
    background-color: #EFEFEF;
    /*border-radius: 10px;*/
    border: 0;
    display: flex;
    flex-direction: column;
}

div.files-list-container{
    /*margin-top: 20px;*/
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    overflow: auto;
}

.text-areas{
    display: flex;
    flex-direction: column;
}

.text-area{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 20pt;
}

h1.name-of-cite{
    margin-top: 0;
    padding-bottom: 0.4em;
}

input{
    /*border-radius: 6px;*/
    border: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20pt;
    background-color: #EFEFEF;
}

textarea{
    resize: none;
    /*border-radius: 6px;*/
    border: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20pt;
    height: 40vh;
    background-color: #EFEFEF;
}

input:active{
    border: 0px;
    border-color: red;
}

span.label{
    line-height: 16px;
    font-size: 0.8em;
    transform: translateY(-8px);
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 0;
}

div.buttons-left{
    display: flex;
    flex-direction: column;
}
div.buttons-middle{
    display: flex;
    flex-direction: column;
}
div.buttons-right{
    display: flex;
    flex-direction: column;
}

button{
    width: 16vw;
    height: 40px;
    border: 0;
    /*border-radius: 6px;*/
    background-color: #C9EEEA;
    /*margin: auto;*/
    font-size: 0.7em;
    margin-bottom: 2vh;
}

button:hover{
    transition: all .3s ease-in-out;
    border: red;
    border: 3px;
}

button:active{
    transition: all .3s ease-in-out;
    background-color: #A0A0A0;
}

div.file {
    height: 10vh;
    min-height: 40px;
    /*margin-bottom: 10px;*/
    background-color: #C9EEEA;
    display: block;
    justify-content: center;
    border-bottom: 4px solid #EFEFEF;
    margin: auto;
    text-align: center;
    padding-top: 3.5vh;
}

p.filename{
    margin: 0;
}

/*header.header-block{*/
/*display: grid;*/
/*grid-template-columns: 40px 1fr 50px 50px 50px;*/
/*line-height: 40px;*/
/*height: 40px;*/
/*}*/

/*
div.close-btn,
div.max-btn,
div.min-btn{
text-align: center;
font-size: 15px;
transition: all .3s ease-in-out;
}/*

/*div.close-btn:hover,
div.max-btn:hover,
div.min-btn:hover{
background-color: red;
transition: all .3s ease-in-out;
}/*

div.close-btn:active,
div.max-btn:active,
div.min-btn:active{
background-color: black;
transition: all .3s ease-in-out;
}/*

/*div.title-app{
}/*





/*.main-window{*/
/*    display: flex;*/
/*}*/

/*.info-and-buttons{*/
/*    !*border: crimson solid 2px;*!*/
/*    height: 500px;*/
/*    width: 500px;*/
/*}*/

/*.info{*/
/*    !*border: black solid 1px;*!*/
/*    height: 466px;*/
/*}*/
/*.parse-list{*/
/*    !*border: crimson solid 2px;*!*/
/*    height: 500px;*/
/*    width: 250px;*/
/*}*/

/*.buttons{*/
/*    !*border: palegreen solid 1px;*!*/
/*}*/
/*.button{*/
/*    width: 160px;*/
/*    height: 30px;*/
/*    background-color: #C9EEEA;*/
/*    border-radius: 7px;*/
/*    border: 0px;*/
/*    padding-right: 5px;*/
/*}*/

/*input[id="site-name"]{*/
/*    width: 450px;*/
/*    height: 30px;*/
/*    border-radius: 7px;*/
/*    border: 0px;*/
/*    margin-left: 20px;*/
/*}*/

/*input[id="url-page"]{*/
/*    width: 350px;*/
/*    height: 30px;*/
/*    border-radius: 7px;*/
/*    border: 0px;*/
/*    margin-left: 10px;*/
/*    margin-top: 20px;*/
/*}*/

/*textarea[id="comments-for-site"]{*/
/*    width: 350px;*/
/*    height: 30px;*/
/*    border-radius: 7px;*/
/*    border: 0px;*/
/*    margin-left: 10px;*/
/*    margin-top: 20px;*/
/*}*/
/*label{*/
/*    margin-left: 25px;*/
/*    margin-top: 20px;*/
/*}*/